### Exploratory Data Analysis

First step: Datasets columns and number of rows and type of values to understand the data

In [3]:
%pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Using cached et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Using cached openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Using cached et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
import pandas as pd

# Load the Excel file
file_path = "Customer_Churn_Data_Large.xlsx"   # change to your file path
xls = pd.ExcelFile(file_path)

# Check available sheet names
print("Sheet names:", xls.sheet_names)

# Load each sheet into a DataFrame
dfs = {sheet: pd.read_excel(file_path, sheet_name=sheet) for sheet in xls.sheet_names}

# Inspect each sheet
for sheet, df in dfs.items():
    print(f"\n--- Sheet: {sheet} ---")
    print("Shape:", df.shape)
    print("Columns:", df.columns.tolist())
    print("Info:")
    print(df.info())
    print("\nFirst 5 rows:")
    display(df.head())

Sheet names: ['Customer_Demographics', 'Transaction_History', 'Customer_Service', 'Online_Activity', 'Churn_Status']

--- Sheet: Customer_Demographics ---
Shape: (1000, 5)
Columns: ['CustomerID', 'Age', 'Gender', 'MaritalStatus', 'IncomeLevel']
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CustomerID     1000 non-null   int64
 1   Age            1000 non-null   int64
 2   Gender         1000 non-null   object
 3   MaritalStatus  1000 non-null   object
 4   IncomeLevel    1000 non-null   object
dtypes: int64(2), object(3)
memory usage: 39.2+ KB
None

First 5 rows:

   CustomerID  Age Gender MaritalStatus IncomeLevel
0           1   62      M        Single         Low
1           2   65      M       Married         Low
2           3   18      M        Single         Low
3           4   21      M       Widowed         Low
4           5   21      M      Divorced      Medium

--- Sheet: Transaction_History ---
Shape: (5054, 5)
Columns: ['CustomerID', 'TransactionID', 'TransactionDate', 'AmountSpent', 'ProductCategory']
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5054 entries, 0 to 5053
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerID       5054 non-null   int64
 1   TransactionID    5054 non-null   int64
 2   TransactionDate  5054 non-null   datetime64[ns]
 3   AmountSpent      5054 non-null   float64
 4   ProductCategory  5054 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 197.5+ KB
None

First 5 rows:

   CustomerID  TransactionID TransactionDate  AmountSpent ProductCategory
0           1           7194      2022-03-27       416.50     Electronics
1           2           7250      2022-08-08        54.96        Clothing
2           2           9660      2022-07-25       197.50     Electronics
3           2           2998      2022-01-25       101.31       Furniture
4           2           1228      2022-07-24       397.37        Clothing

--- Sheet: Customer_Service ---
Shape: (1002, 5)
Columns: ['CustomerID', 'InteractionID', 'InteractionDate', 'InteractionType', 'ResolutionStatus']
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1002 entries, 0 to 1001
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CustomerID        1002 non-null   int64
 1   InteractionID     1002 non-null   int64
 2   InteractionDate   1002 non-null   datetime64[ns]
 3   InteractionType   1002 non-null   object
 4   ResolutionStatus  1002 non-null   object
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 39.3+ KB
None

First 5 rows:

   CustomerID  InteractionID InteractionDate InteractionType ResolutionStatus
0           1           6363      2022-03-31         Inquiry         Resolved
1           2           3329      2022-03-17         Inquiry         Resolved
2           3           9976      2022-08-24         Inquiry         Resolved
3           4           7354      2022-11-18         Inquiry         Resolved
4           4           5393      2022-07-03         Inquiry       Unresolved

--- Sheet: Online_Activity ---
Shape: (1000, 4)
Columns: ['CustomerID', 'LastLoginDate', 'LoginFrequency', 'ServiceUsage']
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CustomerID      1000 non-null   int64
 1   LastLoginDate   1000 non-null   datetime64[ns]
 2   LoginFrequency  1000 non-null   int64
 3   ServiceUsage    1000 non-null   object
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 31.4+ KB
None

First 5 rows:

   CustomerID LastLoginDate  LoginFrequency ServiceUsage
0           1    2023-10-21              34   Mobile App
1           2    2023-12-05               5      Website
2           3    2023-11-15               3      Website
3           4    2023-08-25               2      Website
4           5    2023-10-27              41      Website

--- Sheet: Churn_Status ---
Shape: (1000, 2)
Columns: ['CustomerID', 'ChurnStatus']
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerID   1000 non-null   int64
 1   ChurnStatus  1000 non-null   int64
dtypes: int64(2)
memory usage: 15.8 KB
None

First 5 rows:

   CustomerID  ChurnStatus
0           1            0
1           2            1
2           3            0
3           4            0
4           5            0

As all the datasets have Customer ID as a common column 

Step 2: Merge for a complete Dataset

In [10]:
import pandas as pd

# Load Excel file
file_path = "Customer_Churn_Data_Large.xlsx"
dfs = pd.read_excel(file_path, sheet_name=None)  # load all sheets

# Extract each sheet
demo = dfs["Customer_Demographics"]
trans = dfs["Transaction_History"]
service = dfs["Customer_Service"]
online = dfs["Online_Activity"]
churn = dfs["Churn_Status"]

# -------------------------------
# STEP 1: Aggregate transaction data
trans_summary = trans.groupby("CustomerID").agg(
    TotalSpend=("AmountSpent", "sum"),
    AvgSpend=("AmountSpent", "mean"),
    NumTransactions=("TransactionID", "count"),
    LastTransaction=("TransactionDate", "max"),
    UniqueProducts=("ProductCategory", "nunique")
).reset_index()

# -------------------------------
# STEP 2: Aggregate customer service data
service_summary = service.groupby("CustomerID").agg(
    NumInteractions=("InteractionID", "count"),
    LastInteraction=("InteractionDate", "max"),
    IssuesUnresolved=("ResolutionStatus", lambda x: (x == "Unresolved").sum())
).reset_index()

# -------------------------------
# STEP 3: Merge all datasets on CustomerID
merged = (demo
          .merge(trans_summary, on="CustomerID", how="left")
          .merge(service_summary, on="CustomerID", how="left")
          .merge(online, on="CustomerID", how="left")
          .merge(churn, on="CustomerID", how="left"))

print("Final merged dataset shape:", merged.shape)
print(merged.head())

# -------------------------------
# STEP 4: Save to CSV
merged.to_csv("merged.csv", index=False)
print("Saved merged dataset as merged.csv")

Final merged dataset shape: (1000, 17)
   CustomerID  Age Gender MaritalStatus IncomeLevel  TotalSpend   AvgSpend  \
0           1   62      M        Single         Low      416.50  416.50000
1           2   65      M       Married         Low     1547.42  221.06000
2           3   18      M        Single         Low     1702.98  283.83000
3           4   21      M       Widowed         Low      917.29  183.45800
4           5   21      M      Divorced      Medium     2001.49  250.18625

   NumTransactions LastTransaction  UniqueProducts  NumInteractions  \
0                1      2022-03-27               1              1.0
1                7      2022-11-19               4              1.0
2                6      2022-10-08               4              1.0
3                5      2022-12-27               4              2.0
4                8      2022-12-21               3              NaN

  LastInteraction  IssuesUnresolved LastLoginDate  LoginFrequency  \
0      2022-03-31               0.0    2023-10-21              34
1      2022-03-17               0.0    2023-12-05               5
2      2022-08-24               0.0    2023-11-15               3
3      2022-11-18               1.0    2023-08-25               2
4             NaT               NaN    2023-10-27              41

  ServiceUsage  ChurnStatus
0   Mobile App            0
1      Website            1
2      Website            0
3      Website            0
4      Website            0
Saved merged dataset as merged.csv

Numerical Column/Features exploration and outliers detection

In [12]:
import pandas as pd

df = pd.read_csv("merged.csv")

# Identify numeric and categorical features
numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns.tolist()
categorical_cols = df.select_dtypes(include=['object']).columns.tolist()

print("Numeric columns:", numeric_cols)
print("Categorical columns:", categorical_cols)

Numeric columns: ['CustomerID', 'Age', 'TotalSpend', 'AvgSpend', 'NumTransactions', 'UniqueProducts', 'NumInteractions', 'IssuesUnresolved', 'LoginFrequency', 'ChurnStatus']
Categorical columns: ['Gender', 'MaritalStatus', 'IncomeLevel', 'LastTransaction', 'LastInteraction', 'LastLoginDate', 'ServiceUsage']

In [13]:
# Null count in numeric columns
print("Missing values in numeric columns:")
print(df[numeric_cols].isnull().sum())

Missing values in numeric columns:
CustomerID            0
Age                   0
TotalSpend            0
AvgSpend              0
NumTransactions       0
UniqueProducts        0
NumInteractions     332
IssuesUnresolved    332
LoginFrequency        0
ChurnStatus           0
dtype: int64

In [15]:
# Null count in numeric columns
print("Missing values in categorical columns:")
print(df[categorical_cols].isnull().sum())

Missing values in categorical columns:
Gender               0
MaritalStatus        0
IncomeLevel          0
LastTransaction      0
LastInteraction    332
LastLoginDate        0
ServiceUsage         0
dtype: int64

In [1]:
import pandas as pd

df = pd.read_csv("merged.csv")

# Focus only on churn and service-related columns with NaN
service_cols = ["NumInteractions", "IssuesUnresolved", "LastInteraction"]

# Count missing values grouped by ChurnStatus
for col in service_cols:
    missing_summary = df[df[col].isnull()].groupby("ChurnStatus")[col].count()
    print(f"\nMissing values in {col} by churn status:")
    print(missing_summary)

Missing values in NumInteractions by churn status:
ChurnStatus
0    0
1    0
Name: NumInteractions, dtype: int64

Missing values in IssuesUnresolved by churn status:
ChurnStatus
0    0
1    0
Name: IssuesUnresolved, dtype: int64

Missing values in LastInteraction by churn status:
ChurnStatus
0    0
1    0
Name: LastInteraction, dtype: int64

For both churned (ChurnStatus = 1) and active (ChurnStatus = 0) customers, there are no missing values recorded in those groups.

In other words → the NaNs we saw earlier are not tied specifically to churned or active customers.

In [ ]:
import pandas as pd

# Load merged dataset
df = pd.read_csv("merged.csv")

# 1) Create a flag for customers with no recorded service history
df["ServiceMissing"] = df["NumInteractions"].isna().astype(int)

# 2) Impute service-related fields (domain-driven)
#    - If there was no service history, treat as zeros / "NoInteraction"
df["NumInteractions"]  = df["NumInteractions"].fillna(0)
df["IssuesUnresolved"] = df["IssuesUnresolved"].fillna(0)
df["LastInteraction"]  = df["LastInteraction"].fillna("NoInteraction")

# 3) Sanity checks
print("Nulls after imputation:")
print(df[["NumInteractions","IssuesUnresolved","LastInteraction","ServiceMissing"]].isnull().sum())

print("\nServiceMissing distribution (0=had history, 1=none):")
print(df["ServiceMissing"].value_counts(dropna=False))

print("\nChurn rates by ServiceMissing flag:")
print(
    df.groupby("ServiceMissing")["ChurnStatus"]
      .agg(['count','mean'])
      .rename(columns={'count':'n_customers','mean':'churn_rate'})
)

# Optional: quick spot-check of a few rows
print("\nSample rows:")
print(df[["CustomerID","NumInteractions","IssuesUnresolved","LastInteraction","ServiceMissing","ChurnStatus"]].head(10))

# 4) Save cleaned file
df.to_csv("merged_cleaned.csv", index=False)
print("\nSaved cleaned dataset as merged_cleaned.csv")

Nulls after imputation:
NumInteractions     0
IssuesUnresolved    0
LastInteraction     0
ServiceMissing      0
dtype: int64

ServiceMissing distribution (0=had history, 1=none):
ServiceMissing
0    668
1    332
Name: count, dtype: int64

Churn rates by ServiceMissing flag:
                n_customers  churn_rate
ServiceMissing
0                       668    0.214072
1                       332    0.183735

Sample rows:
   CustomerID  NumInteractions  IssuesUnresolved LastInteraction  \
0           1              1.0               0.0      2022-03-31
1           2              1.0               0.0      2022-03-17
2           3              1.0               0.0      2022-08-24
3           4              2.0               1.0      2022-11-18
4           5              0.0               0.0   NoInteraction
5           6              1.0               0.0      2022-05-05
6           7              0.0               0.0   NoInteraction
7           8              2.0               2.0      2022-09-13
8           9              1.0               0.0      2022-08-15
9          10              0.0               0.0   NoInteraction

   ServiceMissing  ChurnStatus
0               0            0
1               0            1
2               0            0
3               0            0
4               1            0
5               0            0
6               1            0
7               0            1
8               0            0
9               1            1

✅ Saved cleaned dataset as merged_cleaned.csv

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load cleaned dataset
df = pd.read_csv("merged_cleaned.csv")

# Numeric columns to explore
num_cols = ["Age", "TotalSpend", "AvgSpend", 
            "NumTransactions", "UniqueProducts", 
            "NumInteractions", "IssuesUnresolved", 
            "LoginFrequency"]

# -------------------------------
# 1. Histograms for distributions
plt.figure(figsize=(15, 12))
for i, col in enumerate(num_cols, 1):
    plt.subplot(3, 3, i)
    sns.histplot(df[col], kde=True, bins=30, color="skyblue")
    plt.title(f"Distribution of {col}")
plt.tight_layout()
plt.show()

# -------------------------------
# 2. Boxplots for outlier detection
plt.figure(figsize=(15, 12))
for i, col in enumerate(num_cols, 1):
    plt.subplot(3, 3, i)
    sns.boxplot(x=df[col], color="lightgreen")
    plt.title(f"Boxplot of {col}")
plt.tight_layout()
plt.show()

# -------------------------------
# 3. Compare churn vs. non-churn for each numeric feature
plt.figure(figsize=(15, 12))
for i, col in enumerate(num_cols, 1):
    plt.subplot(3, 3, i)
    sns.boxplot(x="ChurnStatus", y=col, data=df, palette="Set2")
    plt.title(f"{col} by ChurnStatus")
plt.tight_layout()
plt.show()

# -------------------------------
# 4. Correlation heatmap
plt.figure(figsize=(10, 6))
corr = df[num_cols + ["ChurnStatus"]].corr()
sns.heatmap(corr, annot=True, cmap="coolwarm", center=0, fmt=".2f")
plt.title("Correlation Heatmap (Numeric Features + Churn)")
plt.show()